.Header {
  background: var(--primary);
  color: var(--white);
  margin-bottom: 3rem;
}

.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.List {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ListItem {
  color: var(--white);
  display: block;
  padding: 1rem 0;
}

footer {
  text-align: center;
}

.TextBase {
  font-size: 1.15rem;
}

.TextLg {
  font-size: 1.5rem;
  font-weight: 500;
}
